.delivery {
  padding:100px 7vw
}

.delivery__steps {
  display:grid;
  grid-template-columns:auto 1fr auto 1fr auto 1fr;
  gap:20px;
  align-items:start;
  margin-top:45px
}

.delivery__steps>span {
  width:40px;
  height:40px;
  border:1px solid #555;
  display:grid;
  place-items:center;
  border-radius:50%
}

.delivery__steps p {
  color:#888;
  line-height:1.7;
  margin:0
}

.delivery__steps b {
  color:#eee
}

@media(max-width:1000px) {
  .delivery__steps {
    grid-template-columns:auto 1fr
  }

}

@media(max-width:700px) {
  .delivery__steps {
    grid-template-columns:auto 1fr
  }

}
